[2020-12-04 18:19] ehinderer opened #3 "Broken link to model documentation"
I'm getting a 404 when trying to click the link in the readme: https://biolink.github.io/ccdhmodel/

[2020-12-04 21:21] jiaola commented on #3
@ehinderer  The url has been correctee to https://cancerdhc.github.io/ccdhmodel/.

Thanks!

[2020-12-04 21:21] #3 closed

[2021-01-25 19:44] balhoff opened #4 "broken links in docs"
There are a few broken links in the generated docs. For example, if you go to this page:

https://cancerdhc.github.io/ccdhmodel/specimen/Specimen.html

and click on "Specimen➞analyte_concentration" it leads to a 404 here: https://cancerdhc.github.io/ccdhmodel/specimen/Specimen_analyte_concentration.md

Not sure if this is an issue in the core LinkML tools or a problem with this particular model.

[2021-01-26 21:24] jiaola commented on #4
The docs were based on a pretty old version. I've updated the docs. Note the URLs in the issue have moved. But the following works now:

On https://cancerdhc.github.io/ccdhmodel/entities/Specimen.html click on Specimen➞analyte_concentration

https://cancerdhc.github.io/ccdhmodel/entities/specimen__analyte_concentration.html

[2021-01-26 21:25] #4 closed

[2021-04-19 06:41] monicacecilia opened #5 "Update link for code that generate yamls in ReadMe.md"
Hi team, please update file https://github.com/cancerDHC/ccdhmodel/blob/master/README.md

Either the repository where the code that generates the yaml files for CRDC-H lives is private (and it should be public) or the path has been updated. Currently, the link you provide https://github.com/HOT-Ecosystem/crdc-node-models/tree/master/ccdh/model is throwing a 404 error.  Please update accordingly. T

[2021-04-19 19:41] #5 closed

[2021-04-30 17:12] gaurav opened #7 "Reorganize repository using the LinkML template"
There is now a [standard repository template](https://github.com/linkml/linkml-template) for LinkML models. We should reorganize this repository into that format.

[2021-04-30 20:03] gaurav opened #8 "Figure out where to put the Google-Sheets-to-LinkML translation script"
The Google Sheet to LinkML script is [`cdm_biolinkml_loader.py`](https://github.com/HOT-Ecosystem/crdc-node-models/blob/master/ccdh/biolinkml/cdm_biolinkml_loader.py) is currently in the HOT-Ecosystem/crdc-node-models repository. I think eventually we will want to settle in on one of three possible workflows:

1. We can move the `cdm_biolinkml_loader.py` script to this repository, where it can be

[2021-05-05 21:00] gaurav opened #11 "Replace "Dinky" theme with "ReadTheDocs" theme in docs generation"
@bfurner has requested that we use the [ReadTheDocs](https://sphinx-rtd-theme.readthedocs.io/en/stable/) theme instead of the "dinky" theme we currently use.

[2021-05-06 20:20] balhoff commented on #8
I think the takeaway from our call was that the script belongs here. I like you plan to keep it in a separate subdirectory.

[2021-05-07 20:27] gaurav commented on #7
Note that LinkML team will soon release [linkml-model-template](https://github.com/linkml/linkml-model-template), which will replace [linkml-template](https://github.com/linkml/linkml-template). So we should probably wait a few weeks and see how the new template layout differs from the previous one.

[2021-05-10 22:01] gaurav opened #12 "Add tests"
The easiest way to test this would be to see if it can convert the CRDC-H model in Google Sheets into valid LinkML, but this is a bad idea since the CRDC-H model in Google Sheets will probably be changing soon. Instead, we should probably come up with a dummy spreadsheet whose sole purpose is to test this generator.

[2021-05-11 23:48] gaurav commented on #8
As of PR #9 the generator has been moved over here, and has been reorganized in PR #13. I'll close this issue for now.

[2021-05-11 23:48] #8 closed

[2021-05-13 02:16] gaurav opened #15 "Add support for displaying multiple versions of the documentation on Github Pages"
While all versions of the CRDC-H Model will be available from the GitHub repository, we should also take steps to ensure that they can all be accessed from the GitHub Pages associated with this account. One way of doing this would be to use [Mike](https://github.com/jimporter/mike) -- this is specifically designed for maintaining multiple versions of a MkDocs directory on gh-pages.

Once we have t

[2021-05-13 03:06] gaurav opened #16 "Add GitHub Actions for generating the CRDC-H model in LinkML from the Google Sheets"
It might be most convenient to set this up as a `development` branch that is autogenerated at either regular intervals or whenever the Google Sheets document changes. We could add this development version to the website using Mike (see #15).

Before we tackle this, I think it's important to identify the actual requirements from the other CRDC-H teams: do we expect to support the Google Sheets to L

[2021-05-13 03:10] gaurav opened #17 "Add support for models in Excel sheets as well"
We currently support generating the CRDC-H model in LinkML from Google Sheets, since that is our primary development environment. @fragosog has requested that we add support for the model in Excel: https://github.com/cancerDHC/tools/issues/32#issuecomment-816026264

This might not actually be necessary, since it looks likely that we'll transition from Google Sheets to developing directly in YAML s

[2021-05-14 15:53] #11 closed

[2021-05-14 15:53] #15 closed

[2021-05-14 16:01] gaurav commented on #7
This is done for `linkml-template` as of PR #10. I'll leave this issue open until `linkml-model-template` has been released and we have incorporated it into this repository.

[2021-05-14 16:09] gaurav opened #18 "Add model-level metadata to the documentation"
This includes:
- [ ] An introduction for the [home page](https://cancerdhc.github.io/ccdhmodel/v0.2/home/).
- [ ] Name and description for the [CRDC-H model page](https://cancerdhc.github.io/ccdhmodel/v0.2/).
- [ ] A [credits page](https://cancerdhc.github.io/ccdhmodel/v0.2/credits/).

[2021-05-20 22:16] gaurav commented on #18
This also includes the definition of the CRDC-H model within the model itself. This should use the fields in the [LinkML SchemaDefinition](https://linkml.github.io/linkml-model/docs/SchemaDefinition/).

[2021-05-21 20:42] gaurav commented on #18
Once we have this sorted, we should add this to https://github.com/linkml/linkml-registry/blob/main/models.csv

[2021-05-24 22:14] gaurav opened #22 "Fix links to LinkML types"
We currently have CCDH types (such as [ccdh_Decimal](https://cancerdhc.github.io/ccdhmodel/dev/types/CcdhDecimal/)) in the model, which are child types of LinkML types (in this case, [linkml:Decimal](https://cancerdhc.github.io/ccdhmodel/dev/types/Decimal/)). Unfortunately, the links in the Markdown documentation from the CCDH type to the LinkML type is broken: instead of linking to `https://cance

[2021-05-25 17:15] cmungall opened #24 "Align exposure model to ECTO"
https://cancerdhc.github.io/ccdhmodel/v0.2/CDM.Exposure/

I suggest a lightweight alignment with exact_mappings to ECTO/ExO classes and ECTO/RO relations/design patterns

cc @diatomsRcool

[2021-05-26 00:07] gaurav opened #25 "Add a "Profiles: ..." to the description"
As per @ShahimEssaid's description of the new profiling system. This is still in development, so I should check in with DMH on Thursday/Friday and make sure that they still want it in the description in this version.

[2021-05-26 00:16] gaurav opened #26 "Add a check to warn about any entities in a particular worksheet that do not have the same name as the worksheet"

[2021-05-27 19:37] monicacecilia opened #28 "Add content to 'home' page at /ccdhmodel/v0.2/home/"
The page https://cancerdhc.github.io/ccdhmodel/v0.2/home/ is empty. A request has been made to populate with introductory information about CRDC-H. I  would like to add the information shown below so that it is displayed in the 'home' page.

Is the information in the file https://github.com/cancerDHC/ccdhmodel/blob/main/src/docs/home.md automatically generated? Or will manually editing and creatin

[2021-05-27 19:46] monicacecilia commented on #28
I'm on it! 🚀

[2021-05-27 20:20] #28 closed

[2021-05-28 14:39] gaurav opened #32 "Rendering issues in the CCDH model documentation"
Tasks noted by @mbrush from the May 27 phone meeting:

- [x] All of the referring entities in the 'Referenced by class' section are "None" - e.g. see Specimen page
- [x] Similarly, the Domain in the 'Domain and Range' section of slot pages is always set to "None" - e.g. see the analyte_type slot page.
- [x] Question - why is '0..1' cardinality rendered "OPT" . . .  can we make this "0..1" to be co

[2021-05-28 14:51] gaurav commented on #32
I've changed `OPT` and `REQ` cardinalities to `0..1` and `1..1` respectively in [a fork on LinkML that I've set up](https://github.com/cancerDHC/linkml/tree/ccdh-dev). See e.g. [BodySite](https://cancerdhc.github.io/ccdhmodel/dev/BodySite/) as an example.

[2021-05-30 01:40] gaurav opened #38 "Remove empty values from lists"
Example: in the examples for Specimen.primary_diagnosis_condition, there is an empty example at the end of the list. This is probably because the `split()` we're using has split out an extra element from the end.

Expected: all such empty entries for any list should be removed before use.

[2021-05-30 15:48] gaurav opened #39 "Add comments to entity pages"
From @mbrush: "One other hopefully simple issue I just noticed is that 'comments' are not appearing for entities/classes. e.g. the 'Specimen' class has a comment in the spreadsheet, but don’t see it on the page here: https://cancerdhc.github.io/ccdhmodel/dev/Specimen/"

[2021-05-31 00:38] gaurav opened #40 "Allow users to access the Python Data Classes directly"
The Python Data Classes are currently generated in a single file at `python/ccdhmodel.py`. This cannot be accessed directly via pip.

I believe that the new LinkML model template currently being tested (#7) will provide this automatically, so we should probably try to implement that first and see if it meets our needs. If not, we will need to include a [setup.py](https://the-hitchhikers-guide-to-p

[2021-05-31 20:00] mbrush opened #41 "Misc documentation site questions and requests"
Creating a list of minor documentation UI issues that are not critical for the June 2 release - @gaurav  / others can partition into separate tickets as needed at a later time.

1. Why is 'range' not capitalized, but other field names describing attributes on Entity pages are capitalized ('Description', 'Examples')?
2. I noted that in the Referenced by Class section of entity pages, for 0..* cardi

[2021-05-31 20:22] bfurner opened #42 "We need to enable search within the CCDH documentation site"
In addition to the baked-in search, which appears to not be full-text search, it would probably be good to have a single page that includes all of the attribute mappings so that nodes can search for their attributes in the CCDH documentation.

[2021-06-01 16:49] gaurav opened #45 "Split improvement-branch into PRs for review"
For the last few days, I've been exclusively developing on the https://github.com/cancerDHC/ccdhmodel/tree/improvement-batch branch, which therefore has a number of unrelated changes all smushed into a single branch. This issue covers dividing that branch into separate PRs for easier review, and then deleting it once that has been done.

[2021-06-07 04:46] bfurner commented on #42
Search has been enabled, but the current implementation makes it more or less impossible for a node to look for their attributes' mappings.

[2021-06-08 22:02] gaurav commented on #41
* Range is now capitalized (as of https://github.com/cancerDHC/linkml/commit/61d329a).
* The asterisk issue has now been fixed (as of https://github.com/cancerDHC/linkml/commit/52f21258877d47c956b379af02e83e213d10c7fa, see [BodySite](https://cancerdhc.github.io/ccdhmodel/v1.0.1/BodySite.html) as an example).

Closing.

[2021-06-08 22:02] #41 closed

[2021-06-16 21:00] gaurav opened #46 "Develop a workflow for connecting the terminology and model generation systems"
In particular:
1. The Terminology Service needs to be updated when the model is updated, particularly with new mappings.
2. When the Terminology Service is updated with new PVs, the model needs to be updated.

[2021-06-17 02:03] joeflack4 commented on #46
@gaurav Oh, you made this already! I made a reference to this in issues for terminology service repo: https://github.com/cancerDHC/ccdh-terminology-service/issues/26

@gaurav @jiaola My thought on this is to use continuous integration (CI). I've used [CircleCI](https://github.com/circleci) for a similar integration issue in the past. I used CircleCI because it was free at the time and it worked pr

[2021-06-17 17:49] gaurav commented on #46
That's a great idea. I'm planning to use [Github Actions](https://github.com/features/actions) for all the CI tasks on Tools repositories rather than CircleCI or Travis CI. It is free, is closely integrated with other Github features like pull requests, and [can be activated in a number of ways, including manual activation](https://docs.github.com/en/actions/reference/events-that-trigger-workflows

[2021-06-18 00:41] gaurav opened #47 "Figure out the best way to display "Referenced by class" listings"
Every class has a number of "Referenced by Class" section in the Markdown documentation that indicates other classes that that refer to this class. For example, [Specimen](https://cancerdhc.github.io/ccdhmodel/v1.0.1/Specimen/#referenced-by-class) indicates that Diagnosis and Specimen has properties with a range of Specimen.

The display of this class doesn't make me happy. Currently, we display i

[2021-06-18 21:24] gaurav commented on #32
I'm going to close this issue as we've fixed everything in our LinkML branch. Some of those have also been moved up into LinkML; others have not.

[2021-06-18 21:24] #32 closed

[2021-06-20 20:19] joeflack4 commented on #46
@gaurav That's a lot more detailed than what I was thinking! I think you're right about just using GitHub Actions as well.

@jiaola When you get back if you want to discuss this in detail, let me know. I still need to learn about the ins/outs of GitHub Actions but I'm sure it will be well worth it.

[2021-06-25 03:06] gaurav opened #52 "Add CI code style standardization with Black via GitHub Actions"
Use the [Black](https://black.readthedocs.io) to enforce Python code style. Instructions are available at https://black.readthedocs.io/en/stable/integrations/github_actions.html

[2021-06-25 20:22] gaurav opened #54 "Update Makefile `gh-deploy` to depend on gen-docs or something like that"
That way, it's clear how the dependencies work.

[2021-06-25 21:11] gaurav opened #55 "Submit CCDH model to LinkML registry"
This is at https://github.com/linkml/linkml-registry/blob/main/models.csv

[2021-06-27 02:10] gaurav commented on #39
Fixed in PR #51, closing.

[2021-06-27 02:10] #39 closed

[2021-06-27 02:11] gaurav commented on #45
This is complete as of PR #56, closing.

[2021-06-27 02:11] #45 closed

[2021-06-27 16:59] gaurav opened #58 "Update google-sheets to support Google API authentication via environmental variable"
At the moment, we read the Google API authentication information from a local JSON file. We should modify this to also support receiving the authentication information from an environmental variable. This would allow us to set this authentication information via [GitHub encrypted secrets](https://docs.github.com/en/actions/reference/encrypted-secrets), making it possible to run the model generatio

[2021-06-29 22:30] gaurav commented on #22
Note that this occurs because we import the LinkML types by specifying `import:\n - linkml:types` in the ccdhmodel.yaml file. I'm not sure where LinkML gets this file from -- it's probably worth tracing that so we know what we are dependent on.

[2021-07-02 16:50] gaurav opened #59 "Add example data to the CCDH Model repository"
It would be nice to have some example data in this repository, both as part of the documentation (we could actually convert it to Markdown and display it with the docs!) and as a continuous integration test.

There is code for doing this included as part of the new LinkML Template Repository, so we should get the code behind this for free once we've implemented #7.

[2021-07-07 16:22] gaurav opened #60 "Finalize short name for the CRDC-H model"
It would be great to refer to it as the "CRDC-H" model, but unfortunately this is not a valid name in Python. We could use `CRDC_H` or `CRDCH` as the Python name, but it might be easiest to refer to it as the "CCDH" model everywhere. Would that be okay?

[2021-07-07 17:20] gaurav opened #61 "Finalize IRI identifiers for CRDC-H model as well as nodes"
We currently use a number of dummy prefixes in the CCDH model:

[code]

We should replace these with actual IRIs.

For the CCDH IRIs, we should probably register a `ccdh` or `crdc-h` or `crdch` prefix at w3id.org and use that.

As per the Identifier Recommendations, the CRDC prefix will be at `https://w3id.org/crdc/` and this will be used as e.g. subject `crdc:su0000001` (for a subject), `crdc:st0

[2021-07-07 18:09] bfurner commented on #60
my vote would be for CRDCH as we've referred to it as "CRDC-H" in so many forums, switching to CCDH model might be confusing.

[2021-07-07 18:17] bfurner opened #62 "Rename Diagnosis.dimensional_measure"
Diagnosis.dimensional_measure subsumes a few source fields from GDC and PDC that capture the largest dimension of the primary tumor.  The CRDC-H attribute is meant to capture zero or more dimensional observations about the primary tumor, but the attribute is poorly named.  The attribute will be renamed Diagnosis.primary_tumor_dimensional_measures.

Smita Hastak raised this issue in an email exchan

[2021-07-07 18:18] bfurner commented on #62
Attribute name and description were updated by Matt Brush and Brian Furner

[2021-07-07 18:18] #62 closed

[2021-07-07 20:39] #54 closed

[2021-07-09 16:25] gaurav opened #63 "Add a LICENSE file to this repository"
What license should the model be licensed to?

The code can probably be licensed under the MIT license without any issue.

We should check this with the Oversight Team before we make a final decision.

[2021-07-10 02:20] balhoff opened #64 "problem with generated OWL file"
The OWL API parser complains when trying to read `ccdhmodel.owl.ttl`:

[code]

I thought this might be a linkml issue, but I tried the biolink-model OWL file and didn't see this problem.

[2021-07-10 02:37] balhoff commented on #64
I think the trouble is that there are many undeclared properties used as triple objects for `owl:onProperty`. Example:

[code]

Neither `linkml:text` nor `linkml:coding` have declared types.

[2021-07-10 15:26] gaurav commented on #64
Interesting!

That's because both of those properties are [CRDCH properties](https://cancerdhc.github.io/ccdhmodel/v1.0.1/CodeableConcept/), not LinkML properties! So they should be `ccdh:text` and `ccdh:coding`.

I bet this is a consequence of us using slots defined on properties, so e.g. the `coding` field uses a CURIE of [`ccdh:codeableConcept__coding`](https://cancerdhc.github.io/ccdhmodel/v1.

[2021-07-12 00:49] gaurav commented on #46
Note that the CCDH Terminology Service can start the model generation workflow by using the [`repository_dispatch` event](https://docs.github.com/en/rest/reference/repos#create-a-repository-dispatch-event).

[2021-07-13 00:01] nlharris commented on #22
@monicacecilia was this one that you wanted @turbomam to take a look at?

[2021-07-13 01:11] joeflack4 commented on #46
Thanks, Gaurav! I think I have two different implementations that should work. For one of those implementations, I think this dispatch event will prove most useful.

[2021-07-13 14:38] hsolbrig commented on #64
FWIW, the (latest) FHIR definitions of those classes can be found in https://build.fhir.org/fhir.ttl :

[code]
[code]
and
[code]

I'm not certain that I understand why we are trying to replicate this -- shouldn't we consider importing fhir.ttl instead?   Notes:
1) While CodeableConcept and its friends are reasonably stable, they may still change on occassion.
2) The FHIR RDF specification itself m

[2021-07-23 16:56] bfurner opened #67 "Provide example instance data in the CRDCH model documentation"
- [ ] Locate richly-populated instance data in source model(s) for: Subject. Specimen, Diagnosis
- [ ] Produce example instance data

[2021-07-26 22:04] bfurner commented on #67
Here are some example cases and associated samples with well-populated attributes from GDC

case_submitter_id = BLGSP-71-06-00072, BLGSP-71-06-00074
sample_submitter_id = BLGSP-71-06-00072-01A, BLGSP-71-06-00074-01A

[2021-07-28 18:19] turbomam opened #69 "Get the ccdhmodel python code into PyPI as a package"
Possibly by taking advantage of the new [linkml/linkml-model-template](https://github.com/linkml/linkml-model-template)

It shouldn't be necessary to manually copy ccdhmodel.py and ccdhmodel.yaml into [cancerDHC/example-data](https://github.com/cancerDHC/example-data/tree/main/ccdh)

From @gaurav:
The main things we want from the new template are:
- standardization: the goal is that any other Link

[2021-07-28 18:48] turbomam opened #70 "field required by sheet2linkml.py"
Is this asking for a Google Sheet sheet identifier?

Is it looking for my google_api_credentials? Are those stored in some un-synced config file?

[code]

[2021-07-28 18:51] turbomam commented on #70
I do see some click options in `generators/google-sheets/sheet2linkml/cli.py`, but nothing that looks super relevant

[2021-07-28 18:53] turbomam commented on #70
Maybe this
[code]

[2021-07-28 18:54] gaurav commented on #70
Nope, that's because you're missing an `.env` file -- see https://github.com/cancerDHC/ccdhmodel/tree/main/generators/google-sheets#configuration

I guess we should rearrange that README file to make it clearer that you need to:
1. Set up the configuration, by:
   * An .env file as described in https://github.com/cancerDHC/ccdhmodel/tree/main/generators/google-sheets#configuration
   * To follow t

[2021-07-28 18:55] turbomam commented on #70
I'd like to work though it if that's OK

[2021-07-28 18:56] gaurav commented on #70
Sweet! I'll unassign myself from this issue for now. But feel free to reassign me if I need to work on this.

[2021-07-29 14:18] bfurner opened #71 "Incorporate CRDC Data Standards Team (DST) minimum metadata elements into CRDCH"
The DST analyzed data dictionaries from a range of projects and produced a report that asserted a set of candidate minimum metadata elements.  A majority of these minimum metadata elements are already present in CRDCH v1.0.1, but those that are not need to be included.

Here is the [CRDC DST Metadata Standard Reports](https://docs.google.com/document/d/1-eVoPoEbK7tmfhAk9zAh2E7ik-fywoms/edit)

[2021-07-29 19:35] balhoff opened #72 "typo in model"
On this page (https://cancerdhc.github.io/ccdhmodel/v1.0.1/Specimen/) there is an attribute:

`morphlogy_assessment_method`

[2021-07-30 03:02] gaurav commented on #72
I've just fixed this in the CDM spreadsheet. Once we generate a new model, we'll close this issue.

[2021-08-04 16:49] monicacecilia opened #73 "Align and integrate models and make a new release with extra metadata elements from DST report."
Align and integrate models and make a new release with extra metadata elements from DST report.

[2021-08-04 16:58] monicacecilia commented on #73
Details may still be fluid for this ticket - as we learn more and make decisions about the queries.

We are meant to leverage the outputs of the DST reports, at least the metadata elements and implement identifiers where we have knowledge management of the identifiers and sample and patient information.

Let's have the queries in the pilot utilize as many of those as we can. Some of the elements w

[2021-08-06 17:08] bfurner opened #74 "Incorporate DST Recommended Metadata Elements into CRDCH"
- [ ] Gender: Subject.gender (enum)
implement genotypic sex and phenotypic sex and gender attributes directly on Subject - to capture the most recent observation/identification of these characteristics.  If we end up needing to capture longitudinal sex/gender data, we may need to use Observations for this.  We can also consider capturing it on Subject nd Research Subject - where the later is the s

[2021-08-06 17:09] bfurner commented on #74
[DST Metadata Recommendations Report](https://docs.google.com/document/d/1LdHUvq_9V3AMf0gHwukMDDM1OhIjdLW_/edit?pli=1)

[2021-08-08 18:35] bfurner commented on #71
- [ ] Gender: Subject.gender (enum)
implement genotypic sex and phenotypic sex and gender attributes directly on Subject - to capture the most recent observation/identification of these characteristics. If we end up needing to capture longitudinal sex/gender data, we may need to use Observations for this. We can also consider capturing it on Subject nd Research Subject - where the later is the sex

[2021-08-08 18:36] bfurner commented on #74
duplicate issue #71

[2021-08-08 18:36] #74 closed

[2021-08-09 08:10] ShahimEssaid commented on #71
For Specimen subject age at collection, the easiest is a .subject_age_at_collection with a Quantity.  We can use a TimePoint instance to represent the point in time when the collection happened. However, this point will also need another point that stands for the subject's birth (an empty one that doesn't have  dateTime or a quantity) and the specimen's time point instance then holds the quantity

[2021-08-13 05:05] ShahimEssaid opened #76 "Quantity.valueDecimal is "string" in the JSON Schema instead of "number""
Other places show same issue. Another .valueDecimal is also a string and .valueInteger is the same. I haven't checked thoroughly but noticed these while doing some other work with the schema.

[2021-08-13 12:48] turbomam opened #77 "make regen-google-sheets in rename-to-crdch: dct[prop] "'function' object is not subscriptable""
[code]

[2021-08-13 12:55] turbomam commented on #77
That may not be the most helpful screen shot. I was just trying to show that things get set up properly and the generation seems to go well up to `TimePoint.eventType`.

`make regen-google-sheets` in branch `issue-69-pypi` does finish on my computer. I incorporated `generators/google-sheets` into `issue-69-pypi` before `rename-to-crdch` and didn't make any changes to it.

[2021-08-19 20:19] gaurav commented on #12
Might be a good idea to do this for the data in https://harmonization.datacommons.cancer.gov/additional-resources

[2021-08-22 21:47] gaurav commented on #12
- [ ] Once we do this, we should use [GitHub Actions' "matrix" feature](https://docs.github.com/en/actions/guides/building-and-testing-python#using-multiple-python-versions) to test our code against multiple versions of Python.

[2021-08-23 12:50] turbomam opened #82 "make pypi only seems to use 0.0.0 tag"
After substituting "ccdh" with "crdch" in several config files (and disabling pbr?) `make pypi` will only publish the model as `0.0.0`. So that worked once, but now it is complaining

File already exists. See https://pypi.org/help/#file-name-reuse for more information.

Even if I do `git tag 0.2.9` first

[2021-08-23 12:51] turbomam commented on #82
PS I'm talking about branch `issue-69-pypi`

[2021-08-23 12:52] turbomam commented on #82
Here's the recipe:

[code]

[2021-08-23 12:59] turbomam commented on #82
Here's documentation about the [relationship between the linkml-model-template and publishing to PyPI](https://github.com/turbomam/linkml-template-audit/blob/main/PYPI_SETUP.md). _This is from one of my clones of the template. I couldn't find in in `template-configurator` or  `linkml-model-template` last time I looked._

[2021-08-23 13:12] turbomam commented on #82
I re-enabled pbr and now git tags are once again used to version PyPI publications.

@gaurav I don't know how to add this functionality outside of pbr. I would be glad to research and experiment if you think that's best, or we can use a more manual approach for versioning the PyPI artifacts. Or stick with pbr.

I tried to tag Sujay, but I can't remember his GitHub tag and it doesn't seem to autoco

[2021-08-23 13:49] turbomam commented on #77
I created a new Google Sheets credential, cloned the repo fresh, and `make regen-google-sheets` in `main` worked

[2021-08-23 16:35] turbomam commented on #82
Hi, @ sujaypatil96

Do you have a best practice for auto-incrementing PyPI publications? Or is there some reason why auto-incrementing should be avoided? I think my comment immediately above this and the initial comment explain the relevance,

[2021-08-23 16:42] turbomam opened #84 "reintegrate regenerate-from-googlesheets with template-based PyPI publishing"
rentegrate #75 and the regenerate-from-googlesheets functionality. Probably take the regenerate-from-googlesheets functionality from main.

Right now, #75 is broken because I just moved `generators/`  in from `rename-to-crdch`

Two of the issues from `rename-to-crdch` will have to be reintegrated some other way
1. when the model needs to be included in a class or slot name, it should be `crdch` (o

[2021-08-23 16:55] gaurav commented on #82
Have you tried putting a `version = ` entry in the `setup.cfg` file?

I don't think an autoincremental PyPI version would work for us, especially since the model could change dramatically without a huge change in this repository. I like the idea of managing the CHANGELOG and version numbers manually. But let me know if there's a reason for doing that that I'm missing!

[2021-08-23 16:56] gaurav commented on #84
Thanks for self-assigning this! If you'd like me to do this instead, let me know -- as the original author of PR #75, I might be quicker :)

[2021-08-23 16:57] turbomam commented on #82
`pbr` off, `version =` entry in `setup.cfg` file is fine with me. I'll do that now.

[2021-08-23 17:30] turbomam commented on #84
Just saw this. Almost done, except for the two follow-up tasks I listed. Can I make a PR and have you resolve those from there?

[2021-08-23 17:37] turbomam commented on #84
[code]

[2021-08-23 18:10] ShahimEssaid opened #85 "JSON Schema enums should have at least 1 item"
The stub enums in the schema file need at least one item for the schema to be valid. Maybe some temporary "Null" value?

[2021-08-23 18:13] ShahimEssaid opened #86 "Can we switch to "$defs" instead of "definitions", and all the $ref be updated accordingly for the generated JSON Schema?"

[2021-08-23 18:20] #82 closed

[2021-08-23 19:21] gaurav commented on #84
That sounds perfect!

[2021-08-23 19:25] gaurav commented on #85
What if I turn field back into a string value rather than an enumeration if no permitted values are provided? I could also emit a warning so we know to fix this on the Terminology Service (or the Google Sheet model, if that's where the enumeration is defined).

[2021-08-23 19:43] ShahimEssaid commented on #85
I think it's good to get the enum names/schemas in the overall schema even
if they are empty. I think that's a more meaningful schema even if the
enum's content is just one "NULL" entry for now.  Not sure what others
think. The change in the overall schema will be minimized as these emums
are implemented prosperity. That way, I can also show JSON Schema based
"validation rules/logic" that points t

[2021-08-23 19:45] ShahimEssaid commented on #85
Being able to $ref the enums is more valuable than their content, as long as the enum names are somewhat stable, or can be updated with a regex.

[2021-08-23 19:55] gaurav opened #87 "Clean up tags generated during PR #75"
PR #75 generated a number of tags, which I don't think we plan to publish as actual CRDCH model versions. Therefore, this issue covers:
- [x] Adding a `-dev` suffix to version numbers used in development so it's clear that these are not intended to be actual releases of the CRDCH model.
- [x] Deleting all the extraneous tags generated during development of PR #75, i.e. tags `v0.2.2` to `0.3.2`.

@

[2021-08-23 21:01] turbomam commented on #84
@gaurav I guess I should hand this off to you now.

I have been working in branch `issue_84_reintegrate` today. I have eliminated all Pipfiles except for the one at the root of the repo.

- I think I have removed everything that could overwrite the model, tests or setup.* based on `model/CONFIG.yaml`
- `make`, `make test` and `make pypi` all work. `make gh-deploy` completes, but I'm not sure how t

[2021-08-23 22:33] ShahimEssaid opened #88 "JSON Scheme for tag 10.3.2 has "required" entries that are a single empty string in the enum instead of actual field names"
JSON Scheme for tag 10.3.2 has "required" entries that are a single empty string in the enum instead of actual field names. This keyword was implemented correctly in v1.0.1

[2021-08-23 22:33] ShahimEssaid commented on #88
@gaurav, this must be a bug somewhere.

[2021-08-23 22:37] ShahimEssaid commented on #88
Hold off on looking into this. I'm not sure why my copy of v0.3.2 looks different from what I see now. I'll follow up.

[2021-08-23 22:47] #88 closed

[2021-08-23 22:48] ShahimEssaid commented on #88
Noticed something strange on my end. My copy is missing the actual values for "required" but I can't file the revision in the repo here that I copied from.

[2021-08-24 21:08] gaurav commented on #84
Sounds good! I'll work on this once we've reviewed and merged PR https://github.com/cancerDHC/ccdhmodel/pull/75.

[2021-08-25 18:30] turbomam opened #90 "refactor MAINTAINERS.md"
refactor [`MAINTAINERS.md`](https://github.com/cancerDHC/ccdhmodel/blob/main/MAINTAINERS.md) based on https://github.com/cancerDHC/ccdhmodel/pull/75#pullrequestreview-733344067

[2021-08-26 15:50] turbomam opened #91 "Python version"
There are inconsistent minimum Python version in various files. This is kinda in flux as I prepare the PRs for branches `issue_84_reintegrate` and `issue-69-pypi`. As part of that or immediately after it... change everything to 3.x? 3.7? 3.8?

[2021-08-26 15:56] turbomam opened #92 "Update AUTHORS"
Add Sujay, Chris M, Brian F and Matt B

@gaurav suggested including https://github.com/cancerDHC/ccdhmodel/graphs/contributors

[2021-08-26 17:08] sujaypatil96 opened #93 "Ubuntu versioning syntax over semantic versioning"
The Linux Ubuntu OS follows [time based releases](https://wiki.ubuntu.com/TimeBasedReleases) rather than feature driven ones, which implement the [semantic versioning](https://semver.org/) syntax.

The Ubuntu versioning convention is the `YY.MM` format where `Y` is the year and `M` is the month of that year when that release was created. You can see the release process documented for a reference t

[2021-08-31 03:14] gaurav opened #94 "Record version number of external codesets"
When we use an external codeset (even if through the Terminology Service), we should record which version of the codeset we used. We can record this using the [code set version](https://linkml.io/linkml-model/docs/code_set_version/) property.

[2021-08-31 03:15] gaurav commented on #93
I think you're exactly right here: this is indeed a "release version" (or a "tag version", since the GitHub tags should be where the version number itself is fixed) or "package version" (when publishing it to PyPI or other package repositories), and it's main purpose is to tag different releases so we can distinguish between them -- the way I think about it is that is the string that needs to go i

[2021-08-31 19:41] sujaypatil96 opened #95 "Organization of `generators/google-sheets` in the repo"
This issue is a design consideration, and has absolutely no implications on the functioning of the system.

I was thinking about the organization of the `generators/google-sheets` folder in the repo. We had a chat about this during one of our calls as well, and I had a couple of proposals in mind:

- Reduce the amount of clutter in the `ccdhmodel` repo, by publishing the [sheet2linkml](https://git

[2021-09-01 21:55] sujaypatil96 commented on #76
Hm, I'm looking at the most recently update JSON schema, from the repo: [ccdhmodel.schema.json](https://github.com/cancerDHC/ccdhmodel/blob/main/jsonschema/ccdhmodel.schema.json). And if you look at line number 11710, for the type of [Quantity.valueDecimal](https://github.com/cancerDHC/ccdhmodel/blob/main/jsonschema/ccdhmodel.schema.json#L11710), it says number rather than string. Am I understandi

[2021-09-01 22:07] ShahimEssaid commented on #76
It's probably fixed in new versions. I was referring to lines like this in
v1.0.1:

https://github.com/cancerDHC/ccdhmodel/blob/8425e12e9ee31031ddc3eb15327933b0b01dd773/jsonschema/ccdhmodel.schema.json#L940

Sent from mobile

On Wed, Sep 1, 2021, 2:55 PM Sujay Patil ***@***.***> wrote:

[2021-09-01 22:27] sujaypatil96 commented on #76
I see, that makes sense. Since it's fixed in the most recent JSON Schema artifact can this issue be closed?

[2021-09-01 23:37] ShahimEssaid commented on #76
Sure, the original issue is fixed for the next release.

There are still some issues like the following one where it should be an integer but it's declared a number. Maybe the issue is in the modeling sheets.

https://github.com/cancerDHC/ccdhmodel/blob/d0b2d68eb864fa5f8b01905b2d35cb2e53607e0e/jsonschema/ccdhmodel.schema.json#L11594

[2021-09-02 14:44] turbomam commented on #95
I love that functionality that @gaurav developed, but it does make me uneasy that you have to cd into its directory to run the code. So I would like to see it at least changed to something that you can call from an arbitrary path, and provide with command line arguments (or a LinkML config file) if necessary.

I have also thought about making it an independent PyPI package too, but have wondered i

[2021-09-02 17:23] gaurav commented on #95
Let's bring this up at DMH/xs-WS meetings next week and see what other people think. At one point, the plan was to phase out the Google Sheet and this script entirely, and to have model builders directly modifying LinkML files. If that's the case, it's probably fine to leave this here and deprecate it once we reach that point. Otherwise, it might be a good idea to separate it into its own reposito

[2021-09-02 19:36] gaurav commented on #64
It looks like there are two problems here:
1. _Every_ `onProperty` statement uses `linkml:` as a prefix, when it should use `ccdh:`.
2. The text is defining ccdh_string as an object, when it should be defined (and used) as a datatype: https://cancerdhc.github.io/ccdhmodel/v1.0.1/types/CcdhString/ -- maybe if we explicitly map this to `xsd:string` that will go away?

[2021-09-02 19:38] #76 closed

[2021-09-02 19:55] balhoff commented on #64
Just a note - I think we determined that an instance of CcdhString would be an object with a `value` data property pointing to an xsd:string.

[2021-09-03 18:53] gaurav commented on #63
@monicacecilia just let me know that we should "use the BSD Open Source Software License - specifically the BSD3 - Clause License on the Open Source Initiative Website, found at http://opensource.org/licenses/bsd-3-clause".

[2021-09-07 19:19] gaurav commented on #91
As far as I know, we've now standardized to a minimum version of Python 3.7 everywhere.

[2021-09-07 21:25] gaurav commented on #95
PR #96 carries out the two action items I've listed. The only issue remaining is to split off sheet2linkml into its own package -- I propose we open a separate issue for that, and do that later this year after the Sep 30 deadline.

[2021-09-07 21:30] gaurav commented on #87
@turbomam Could you please confirm that [tags `v0.2.2` to `0.3.2`](https://github.com/cancerDHC/ccdhmodel/tags) aren't being used for any reason and can be safely deleted?

[2021-09-07 21:34] gaurav commented on #77
Oddly enough, this was caused by JsonObj adding `_is_missing` to the list of keys on JsonObj instances, except that it's a method name, not a dictionary key. I put in a [quick-and-dirty fix](https://github.com/cancerDHC/ccdhmodel/pull/75/commits/8b574ea012ab89fe15225a21ce740345336288dc#diff-a027636cf9ed15184b82b1a8480290128dcbaa53d5e6425976a82ba8a8526371) by ignoring all properties starting with `

[2021-09-07 21:34] #77 closed

[2021-09-07 22:14] gaurav commented on #42
The main problem with getting this to work is that currently search doesn't work on words containing `_` -- i.e. you can search for `ajcc`, but not `ajcc_clinical_m`. If we can figure out how to fix this in Material, then users will be able to search for node field names. I've tried changing the [`separator` being used](https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search/#buil

[2021-09-09 14:40] turbomam opened #98 "Update README regarding generation of model from Google Sheet"
See approval notes from PR XXX

[2021-09-09 15:53] turbomam commented on #98
- cloned repo into fresh directory
- switched to branch `merge-pipenv`
- `make` runs to completion but complains about the documentation structure:

INFO     -  Building documentation to directory: /Users/MAM/Documents/gitrepos/cr2/ccdhmodel/docs
INFO     -  The following pages exist in the docs directory, but are not included in the "nav" configuration:
              - AlcoholExposureObservation.

[2021-09-09 16:19] turbomam commented on #98
Cheating by going to a previous ccdhmodel folder

`google_api_credentials.json` is in repo root

pipenv install
Installing dependencies from Pipfile.lock (60b98b)...
  🐍   ▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉▉ 2/2 — 00:00:11
To activate this project's virtualenv, run pipenv shell.
Alternatively, run a command inside the virtualenv with pipenv run.
CDM_GOOGLE_SHEET_ID=1oWS7cao-fgz2MKWtyr8h2dEL9unX__0bJr

[2021-09-09 17:38] gaurav opened #99 "Add GitHub Actions for testing"
We can now run every test in this repository (mainly tests of the Python Data Classes from the `tests/` directory) by running `pipenv run tox4` in the root of this project directory. We should add a GitHub Action to automatically run this every time a pull request is submitted.

There's an existing GitHub Action in the Example Data Workflow we could repurpose for this: https://github.com/cancerDHC

[2021-09-09 17:46] gaurav commented on #64
I don't think there's anything here that would be helpful for the CCDH Pilot, so I'm inclined to push it to a later milestone. Any objections?

I suspect we might be able to fix some of these issues by setting a `default_prefix`, which is what the LinkML [example file does](https://github.com/linkml/linkml/blob/e19d0453fe95ddf8a37e8561cdbc7ab47fcdf00c/tests/test_generators/input/kitchen_sink.yaml#

[2021-09-09 17:50] gaurav opened #100 "Separate sheet2linkml into its own repository"
This program does something quite different from rest of this repository, so we should probably move it elsewhere. We can then publish it to PyPI and import it for use by this repository, and maintain separate tests in the other repository (#12).

(see #8 and #95 for previous discussions of this issue)

[2021-09-09 17:54] gaurav opened #101 "Add tests for ensuring that the generated LinkML schema in YAML is valid"
The good news is that the [LinkML model](https://github.com/linkml/linkml-model/) is itself written in LinkML, so it should be validatable. Unfortunately, most of those validation methods are designed around other formats (such as validating JSON, JSON-LD, RDF and so on) but I haven't found one for validating the YAML directly. Two possibilities:
1. If we load the generated YAML Schema using the L

[2021-09-09 17:58] gaurav opened #102 "Add tests for ensuring that the generated JSON Schema is valid"
Every JSON Schema library should have a way of doing this, so we mainly need to choose a JSON Schema library for Python and then write a test for that.

This might be something worth doing upstream in LinkML so that every LinkML model's generated JSON Schema can be automatically validated.

[2021-09-09 17:59] gaurav opened #103 "Clarify documentation relating to use of multiple virtual environments and tox"
As suggested by @turbomam in https://github.com/cancerDHC/ccdhmodel/pull/75#issuecomment-916285059:

One thing that would help solve this if we had GitHub tests (#99), which would contain all the instructions we need to build and test this repository, _except_ for the sheet2linkml code (#12). But if we end up moving sheet2linkml into its own repository (#100), then we can do that there.

[2021-09-09 18:14] #92 closed

[2021-09-09 18:15] gaurav commented on #7
Done in PR #75, closing.

[2021-09-09 18:15] #7 closed

[2021-09-09 18:24] gaurav commented on #59
As of PR #75, we have a directory into which test files can be placed (https://github.com/cancerDHC/ccdhmodel/tree/main/tests). We will need to figure out how to support validating types other than Diagnosis -- maybe the test file name could be used, e.g. `diagnosis_abc123.yaml` for diagnoses and `bodysite_def456.json` for body sites, and so on.

We will get the example files from the Example Data

[2021-09-09 18:33] gaurav commented on #91
I think we've standardized to Python 3.7 everywhere as of PR #75. Closing, but please reopen if I'm wrong.

[2021-09-09 18:33] #91 closed

[2021-09-10 18:23] sujaypatil96 opened #105 "Proposals for reorganizing `ccdhmodel` repository"
I had a few ideas to make the `ccdhmodel` repository more maintainable and readable.

1. Add Github `ISSUE_TEMPLATE` to `.github` folder to allow for the customization of feature and bug report filing.
2. Decide if we want to name the artifacts folder `crdch_model` or something else?
3. Remove `examples-for-discussion` folder and create a separate repo for it.
4. The [MakeConfig](https://github.co

[2021-09-10 18:30] gaurav opened #106 "Replace top-level logger with per-class loggers"
At the moment, all logging in sheet2linkml is carried out by running e.g.:

[code]

The recommended way of using loggers is to create a context specific or per-class logger object and use that, i.e.

[code]

(Note the use of [click-log](https://click-log.readthedocs.io/en/stable/) to allow users to configure the logging from the command line, so we no longer have to include a logger.ini file)

I'm

[2021-09-10 18:56] gaurav commented on #105
All of these suggestions sounds great to me, Sujay! I've turned it into a [task list](https://docs.github.com/en/issues/tracking-your-work-with-issues/about-task-lists) so we can track which of these subissues have been completed. This also makes it easy to convert a task into a separate issue if we need to.

The only one I'd push back against at all is "Remove examples-for-discussion folder and c

[2021-09-10 21:57] turbomam opened #107 "Does the model's Google sheet really require authentication?"
I think setting up the Google API authentication is one of the hardest parts of using this repo. Chris just asked me if I knew for sure that the sheet was protected, and if it is, whether it needed to be.

[2021-09-13 04:06] gaurav commented on #107
The sheet permissions are pretty permissive (anyone with the link can view it), so yes, we could potentially download the sheet by using the following URL: https://docs.google.com/spreadsheets/d/1oWS7cao-fgz2MKWtyr8h2dEL9unX__0bJrWKv6mQmM4/export?format=xlsx

(Note that this does give an error when trying to open it in Excel on my computer.)

We could add this as something to do as part of #17. I'

[2021-09-13 22:28] sujaypatil96 commented on #86
[PR #311](https://github.com/linkml/linkml/pull/311) which fixes this issue on the linkml repo has been merged. I think we're ready to close out this issue.

[2021-09-13 22:33] gaurav commented on #86
I'll pull the latest LinkML into our fork, regenerate the artifacts, and then send them to Shahim to confirm that this is what he needs. Once he's confirmed that, we can close this issue. Thanks so much for fixing this, Sujay!

[2021-09-14 23:39] gaurav commented on #86
I've updated the version of LinkML we use in PR #109. I've also added a test to make sure that the JSON Schema is valid, which unfortunately it is not (I think because of #85). I'll keep working on this until this JSON Schema can be fully validated.

@ShahimEssaid: Could you please check https://github.com/cancerDHC/ccdhmodel/pull/109/files#diff-456d10c2832bcf26f95f8adf860b978802250d5def49998ebe52

[2021-09-15 00:15] joeflack4 commented on #93
Hey guys, apologies for not reading what you guys have written, but Gaurav linked me here and I thought I'd give my two cents. We have a related issue for the CCDH terminology service: https://github.com/cancerDHC/ccdh-terminology-service/issues/74

I like **semver** for this case over YYMM because updates are probably going to happen a lot more frequently than once a month. Given what we do and j

[2021-09-15 15:41] gaurav commented on #93
Moni also thought that semver might be the better approach for us. Let's stick with semver for the CRDCH release versions for now; we can refer back to this thread if we decide that an alternate versioning scheme (such as Ubuntu-style date-based versioning) might serve our needs better.

Thanks for the discussion, everybody, and thank you Sujay for bringing this up!

[2021-09-15 15:41] #93 closed

[2021-09-15 16:35] turbomam commented on #98
See https://github.com/cancerDHC/ccdhmodel/pull/96#issuecomment-917125453

- set to GCP publication status to testing
- added MAM@lbl.gov as a test user
- started fresh repo
- `git checkout merge-pipenv`
- GCP hamburger menu -> APIs & Services -> Credentials -> click on relevant "OAuth 2.0 Client IDs" -> Download JSON
- copy downloaded file `~/Downloads/client_secret_*.apps.googleusercontent.com.j

[2021-09-15 17:13] gaurav commented on #98
Odd. Too bad we couldn't get to the bottom of what was going on. Still, it's nice to have this documented in the issues!

[2021-09-15 17:15] turbomam commented on #98
Why odd? I was trying to say that everything works and makes more sense to me now. Maybe that's not clear amidst all of the verbosity.

[2021-09-15 17:18] gaurav commented on #98
Ah, I thought the problem had "fixed itself", which is always annoying :). Looking more closely, it looks like maybe "set to GCP publication status to testing" worked!

[2021-09-15 18:27] #84 closed

[2021-09-15 18:27] #95 closed

[2021-09-16 00:16] sujaypatil96 commented on #106
This issue is perhaps best suited for the `sheet2linkml` repo, whenever that comes to fruition. I can take up the responsibility of  integrating [click-log](https://github.com/click-contrib/click-log) with `sheet2linkml`, so I'm assigning this issue to myself.

[2021-09-16 19:54] sujaypatil96 opened #113 "Remove `examples-for-discussion` folder and create a separate repo for it."

[2021-09-16 21:24] gaurav commented on #113
This folder was created during the CCDH Pilot to quickly have somewhere to have a discussion about codeable concepts and enums. It looks like DMH is moving some of these discussions into their own repository (https://github.com/cancerDHC/data-model-harmonization/tree/master/data-examples/f2f-2021-09-data-examples/mapping_provenance_proposals), so maybe this is no longer needed? On the other hand,

[2021-09-17 17:08] gaurav opened #114 "Change model documentation to use codeable concepts instead of enums"
We currently replace codeable concepts with enumerations when generated the CRDCH model documentation. This PR would change that in three ways:
1. We remove this replacement step, so that the range of codeable concept fields remain as codeable concepts.
2. We continue to generate enumerations in exactly the same way that we have been generating them thus far.
3. We modify the Markdown generator in

[2021-09-20 15:31] #114 closed

[2021-09-23 12:53] turbomam commented on #99
I'm working through some of these old PRs. I can confirm that `pipenv run tox4` works on my system. It gracefully acknowledges that I don't have 3.7 and the tests pass under 3.8 and 3.9

I trust @gaurav and @sujaypatil96 about the functionality of `ccdhmodel/.github/workflows/tox.yml` and haven't tried to test it. It looks sensible.

[2021-09-23 13:32] turbomam opened #118 "write tobacco exposure test to better understand codeable concepts and enums"

[2021-09-24 16:36] fragosog commented on #61
I've been looking at the .ttl output, and there's another IRI in there, `http://UNKNOWN.org/` used in the enumerations.  (Maybe it needs to be the same as `ccdh`'s?)

[2021-09-25 17:25] gaurav opened #119 "Document how to set up and use this repository on a Windows computer"
Most LinkML and CCDH software developers use computers running macOS. We should try setting it up and running it on a Windows computer, and documenting whether any additional steps are needed to make it work on this operating system.

[2021-09-27 16:25] jooho-lee-kim opened #120 "openpyxl==3.0.8 is not available (deleted version)"
Pipfile.lock requires openpyxl==3.0.8, but the version 3.0.8 is deleted (see https://openpyxl.readthedocs.io/en/stable/changes.html#brown-bag).

3.0.9 (2021-09-22) is the most recent version.

[2021-09-27 19:41] gaurav commented on #120
Oh man, is this why we were having weird openpyxl issues last week? Good find!

@jooho-lee-kim This should be relatively easy to fix: if you create a branch, run `pipenv update`, commit the changes, and then create a GitHub pull request with those changes, that should fix this issue. Would you like to take this on as a first issue? If not, no worries, I'll get it fixed quickly!

(I continue to be

[2021-09-27 21:37] jooho-lee-kim commented on #120
My environment is not properly setup yet. I will get my new Mac laptop this week sometime.
Also, pipenv update failed on my Windows machine.
@gaurav Can you fix this issue? Thanks!

(yeah, openpyxl has several deleted versions. IT IS annoying to fix our ends.)

[2021-09-27 21:49] cmungall commented on #85
I am not sure I fully understand the context. Enums should only be used if you have an enumeration. If that enumeration is empty, then it's invalid.

We could potentially have a property on an enum that states whether it is open or closed, but open enums would have the same semantics as string so I am not really seeing the advantage

[2021-09-29 19:13] balhoff opened #123 "missing mkdocs dependency?"
Trying to run `make` I encounter this error:

[code]

[2021-09-30 15:46] jooho-lee-kim commented on #123
It happened to me, too.
I did install mkdocs and mkdocs-material, manually.

[2021-09-30 15:50] balhoff commented on #123
I had a chat with @gaurav; he says that the targets that need this tool should depend on the `install-dev` target. It's not totally clear to me if the distinction between the `install` and `install-dev` targets is needed.

[2021-09-30 18:35] gaurav commented on #87
Deleted tag 0.3.2, so now no extraneous tags remain. Closing.

[2021-09-30 18:35] #87 closed

[2021-09-30 18:58] sujaypatil96 commented on #100
Linking this to the [sheet2linkml](https://github.com/cancerDHC/sheet2linkml) package on Github and [sheet2linkml](https://pypi.org/project/sheet2linkml/) project on PyPI.

[2021-09-30 18:59] #63 closed

[2021-09-30 23:43] gaurav commented on #60
Change made in PR #75, closing.

[2021-09-30 23:43] #60 closed

[2021-10-01 06:09] gaurav commented on #22
This will probably be more up @sujaypatil96's alley more than Mark's -- it'll require digging into LinkML Markdown generation to figure out why the URLs are being generated incorrectly.

[2021-10-01 06:15] gaurav commented on #100
Let's close it after we remove sheet2linkml from this repo? I think we still need to figure out how and where to call sheet2linkml in order to generate a new CRDC-H in LinkML model (#16) -- I'm not sure if those GitHub Actions should be here or in the sheet2linkml repo?

[2021-10-01 06:34] gaurav commented on #73
@bfurner Is this complete as of [CRDC-H v1.1](https://cancerdhc.github.io/ccdhmodel/v1.1/)? Or do we have other DST elements to add?

[2021-10-01 06:34] gaurav commented on #72
Now fixed, closing.

[2021-10-01 06:34] #72 closed

[2021-10-01 06:35] gaurav commented on #73
This is a duplicate of https://github.com/cancerDHC/ccdhmodel/issues/71 -- should we close this? Or does it cover something different?

[2021-10-04 15:47] turbomam commented on #123
I'm going to make a branch, remove all of the old `sheet2linkml` dependencies, and move more of the packages out of dev.

[2021-10-04 15:50] turbomam commented on #123
branch `issue-123-smaller-Pipfile-dev`. Haven't pushed yet.

[2021-10-04 16:08] turbomam commented on #123
`make all` and `make test` work. I pushed. I didn't consider any criteria other than getting those `Makefile` steps to work.

[2021-10-06 13:20] balhoff commented on #64
A fix has been implemented in linkml; we should test with the next linkml release.

[2021-10-07 19:38] balhoff opened #129 "support forming a URI from Coding values"
Currently an instance of `Coding` looks like this:

[code]

While the `system` value is a URI, this doesn't imply that it can be used as a URI namespace to be prepended to the `code`, if one wants to derive a URI for the coding value to use in RDF-based tools. In FHIR examples I've seen, this URI is not intended to be a namespace, just an identifier for a system. It would be nice if CRDC-H (or eve

[2021-10-10 04:42] gaurav opened #130 "Add support for approximate dates"
We need to be able to support dates that are approximate to a particular year, e.g.

https://github.com/cancerDHC/data-model-harmonization/blob/79849628bca909ef113a6031bf1eb25498c48ee2/data-examples/f2f-2021-09-data-examples/d1_harmonized_gdc_specimen_cc.yaml#L312-L313

However, we currently code this field as a linkml:datetime, which has to be in the same format as [xsd:dateTime](http://books.xml

[2021-10-11 01:20] gaurav opened #131 "Add support for storing and emiting Decimals in the CRDC-H instance data"
CRDC-H defines [a decimal type](https://cancerdhc.github.io/ccdhmodel/v1.1/CrdchDecimal/) based on [Python's Decimal type](https://docs.python.org/3/library/decimal.html#decimal.Decimal). Unfortunately, this doesn't work correctly at present:
1. Trying to create a crdch_model.Decimal() with a Python Decimal works, but when you try writing it out as YAML, results in the following error: `yaml.repre

[2021-10-11 22:08] gaurav opened #132 "Add description to PyPI page"
https://pypi.org/project/crdch-model/ should have a project description.

[2021-10-12 06:15] #132 closed, assigned to sujaypatil96

[2021-10-12 17:40] gaurav opened #133 "Be more specific about specific kinds of observation types"
In the CRDC Tech talk just now, Denise Warzel pointed out that there were different kinds of weights, and that we should be very specific of which kind of weight we mean here.

[2021-10-13 22:38] turbomam opened #134 "I shouldn't be the author"
`setup.cfg` says

author_email = MAM@lbl.gov

That should be changed to @gaurav or somebody else besides me

[2021-10-14 14:58] jooho-lee-kim opened #136 "Repository contribution guideline"
Do we want to setup guidelines for contributors?
It would be very helpful to new contributors.

https://docs.github.com/en/communities/setting-up-your-project-for-healthy-contributions/setting-guidelines-for-repository-contributors

[2021-10-14 18:51] gaurav opened #137 "Add Github `ISSUE_TEMPLATE` to `.github` folder to allow for the customization of feature and bug report filing."

[2021-10-14 22:37] gaurav commented on #113
We're citing this folder in our Q3 2021 quarterly report (as https://github.com/cancerDHC/ccdhmodel/tree/main/examples-for-discussion), so:
1. Let's leave this where it is for now.
2. If we do decide to move it to another repository, let's leave a README file in this folder so we can point people to the new location of these files, at least for a year or so.

[2021-10-18 02:33] bfurner commented on #113
@gaurav i am fine with moving this to https://github.com/cancerDHC/data-model-harmonization and following approach 2 above with the README.  would you be able to handle this move?

[2021-10-18 16:50] jooho-lee-kim opened #141 "rdflib-jsonld is now deprecated"
This rdflib plugin is deprecated for, as of the 2021-09-17 release of rdflib 6.0.1, JSON-LD handing has been integrated. All functionality in this package has been removed, as of release 0.6.2. (from rdflib-jsonld github page)

See: https://github.com/RDFLib/rdflib-jsonld

[2021-10-27 16:21] gaurav opened #144 "Add CRDCH Model Entities and Relationships diagram to CRDCH model documentation"
**Describe the solution you'd like**
Add the "CRDCH Model Entities and Relationships diagram" from the HioH slides for Oct 28, 2021 to the CRDCH Model.

**How important is this feature?** Select from the options below:
• Important - it's a blocker and can't do work without it

**When will use cases depending on this become relevant?** Select from the options below:
• Short-term - 2-4 weeks

[2021-10-27 16:37] gaurav opened #145 "Add categories for entites (e.g. "administrative entity", "clinical entity")"
**Is your feature request related to a problem? Please describe.**
While CCDH entities are grouped into various categories (e.g. "administrative entity", "clinical entity"), this information is not present in the documentation in any way. Adding these categories might help organize or visualize the entities in ways that are easier to navigate. It might also be useful to have a high-level document

[2021-11-01 04:50] gaurav commented on #134
Yup, that's the one I meant! Sorry for my very late response :)

[2021-11-01 20:47] gaurav opened #146 "Figure out why the GitHub Actions are taking so long to run"
See e.g. https://github.com/cancerDHC/ccdhmodel/runs/4072762994?check_suite_focus=true, where installing dependencies took 2m28s and tox tests take 1m31s.

[2021-11-01 20:49] #69 closed

[2021-11-04 06:08] gaurav opened #147 "Implement Git Flow branching model"
We currently use a slightly simplified version of the [Git Flow branching model](https://nvie.com/posts/a-successful-git-branching-model/) -- we create feature branches to develop new features with tests, and then merge them into the `main` branch once they are complete. Going forward, it would be useful to separate the `develop` branch from the `main` branch, so that the `main` branch remains in

[2021-11-04 19:28] gaurav commented on #144
@balhoff is working on an alternate approach using OWL and/or yUML.

[2021-11-08 19:32] gaurav commented on #61
1. We prefer `crdch:Entity.attribute`. Entity should be capitalized (which doesn't appear to be the case right now).
2. We need to deal with versioning as well, so maybe something like `https://w3id.org/crdc/v1.1/Entity.attribute`?
3. What about numerical identifiers? e.g. `crdc:dm0000431`
    - Upsides: versioning not required, labels can be changed over time to improve meaning
    - Downsides: n

[2021-11-08 19:40] gaurav commented on #64
@fragosog mentioned that he would like to visualize the CRDC-H model using Protege, and fixing this issue would allow him do that.

[2021-11-09 16:27] jmcmurry commented on #61
I don't quite understand the options; let's discuss over slack

[2021-11-09 19:26] wdduncan opened #148 "Create observation abstract class"
The model has many types of observation classes. E.g.:
- AlcoholExposureObservation
- CancerGradeObservation
- HistologicalCompositionObservation
etc.

In scenarios like this, there is often an abstract parent class that the children inherit from. Wondering why this isn't the case here ...

From a more pragmatic standpoint, having such a parent class may allow for easier querying of all observatio

[2021-11-09 19:30] wdduncan opened #149 "Use biolink Named Thing as root node"
The current root node is [Entity](https://cancerdhc.github.io/ccdhmodel/v1.1/Entity/). I think it would be advantageous to use Biolinks [Named Thing](https://biolink.github.io/biolink-model/docs/NamedThing) as the root.

This allows for easier integration with Biolink and consistency across projects using LinkML (e.g., NMDC's [Named Thing](https://microbiomedata.github.io/nmdc-schema/NamedThing/).

[2021-11-09 19:57] wdduncan opened #150 "Align quantities with Biolink and NMDC"
In [Biolink](https://biolink.github.io/biolink-model/docs/QuantityValue) and [NMDC](https://microbiomedata.github.io/nmdc-schema/QuantityValue/#class-quantity-value) we use a `quantity value` class to represent quantitative information. In NMDC we have a general [attribute value](https://microbiomedata.github.io/nmdc-schema/AttributeValue/) class from which quantity values, text values, images val

[2021-11-09 20:09] bfurner commented on #148
generally "inheritance" is useful in situations where there is need to **extend** attributes/methods of a base class, and "profiling" is used in situations where there is need to **constrain** attributes/methods of a base class.

Observation and the various Observation implementations (e.g. CancerGradeObservation) are trying to address a profiling, or constraining, use case.  the "base" Observatio

[2021-11-09 20:18] wdduncan commented on #148
@bfurner  Not sure I follow what you mean by "profiling". Do you have link to a design pattern? From what I could tell there are a common set of attributes that observation of attributes that are shared.

Regarding values please see comment #150.

[2021-11-09 20:28] wdduncan commented on #148
@bfurner I just saw that there is a class [Observation](https://cancerdhc.github.io/ccdhmodel/v1.1/Observation/). Sorry ...

However, the documentation does show any linkage between a specific kind of observation (e.g., [alcohol exposure observation](https://cancerdhc.github.io/ccdhmodel/v1.1/AlcoholExposureObservation/)) and Observation (which is why I missed it).

Is there supposed to be one? By

[2021-11-09 20:36] bfurner commented on #148
@wdduncan see the following from FHIR:  https://www.hl7.org/fhir/profiling.html

there currently is no linkage between the generic Observation and the "profiled" subtypes as this functionality isn't supported at this point in LinkML as far as i know.

in FHIR, there is a generic Observation (https://www.hl7.org/fhir/observation.html) that defines a value[x] that can take different value data types

[2021-11-09 20:53] cmungall commented on #148
I've put this on the agenda for the LinkML call, I don't want to give any recommendations here before being fully appraised by others

[2021-11-10 04:34] bfurner commented on #149
There appears to be some inconsistencies here. It looks like the Biolink model has 'Entity' as it's root element with 'NamedThing' as a child:  https://biolink.github.io/biolink-model/docs/Entity.html. NMDC, on the other hand, does have a root entity of 'NamedThing'

@mbrush do you have thoughts on Entity vs NamedThing?

[2021-11-10 14:16] wdduncan commented on #149
@bfurner Ah yes ... you are right Biolink does have an `entity` class. I like the clean separation between named things and associations. This might benefit the ccdh model.

[2021-11-10 18:28] turbomam opened #152 "require that the value going into a Coding's system slot is a URL"

[2021-11-11 07:54] turbomam opened #153 "How to determine the appropriate system URL for a codable concept"
For example, what URL represents the NCIt as a system?

[2021-11-11 07:56] gaurav commented on #152
Yeah, it does seem strange to me that https://cancerdhc.github.io/ccdhmodel/v1.1/coding__system/ is a string rather than a URI.

@bfurner @mbrush Is there a reason for this?

[2021-11-11 14:23] turbomam opened #154 "unhashable type: 'CodeableConcept' when loading programmatically created data file"
I don't know if this is a LinkML error or something specific to the CRDC-H model, so I will cross post an issue in linkml/linkml

Run `make all` from `issue-27-codable-concept-notebooks` branch of [example-data repo](https://github.com/cancerDHC/example-data)

[2021-11-11 14:24] turbomam commented on #154
I see this error under Python 3.9 on an Apple Silicon MacBook and under 3.8 on an Intel Ubuntu 20 system.

[2021-11-11 14:30] turbomam commented on #154
[code]

[2021-11-11 15:51] bfurner commented on #152
i believe this was left as string since at the time we didn't have strong recommendations for how reference data like code systems should best be encoded in the model.  FHIR has this as a very permissive uri type (Regex: \S*) that can be further constrained.  one could obviously further constrain this to a resolvable url, but there are some source systems that may not have resolvable urls for thei

[2021-11-11 18:51] turbomam commented on #118
Bare minimum roundtrip, without any content validation: https://github.com/cancerDHC/example-data/blob/issue-27-codable-concept-notebooks/tobacco_expo.py

[2021-11-11 18:52] turbomam commented on #118
[code]

[2021-11-11 18:55] turbomam commented on #90
https://blog.packagecloud.io/eng/2016/01/25/python-pypi-repository-internals/

[2021-11-11 18:57] turbomam commented on #90
https://hynek.me/articles/packaging-metadata/

[2021-11-11 18:58] turbomam commented on #90
https://snarky.ca/what-the-heck-is-pyproject-toml/

[2021-11-11 19:00] turbomam commented on #90
https://python-poetry.org/docs/pyproject/

[2021-11-11 19:39] turbomam commented on #90
https://github.com/pallets/flask/blob/main/CONTRIBUTING.rst

[2021-11-11 19:40] turbomam commented on #134
Some pages about package metadata from the poetry perspective
- https://python-poetry.org/docs/pyproject/
- https://snarky.ca/what-the-heck-is-pyproject-toml/

[2021-11-16 16:20] gaurav opened #155 "Get rid of the `ccdh-dev` fork of LinkML"
It looks like all the [changes we've made in the `ccdh-dev` fork](https://github.com/linkml/linkml/compare/main...cancerDHC:ccdh-dev?expand=1) have been merged into the linkml main branch, except for the changes we made to `markdowngen.py`. In order to avoid having to maintain this LinkML fork, we should:
- [ ] Fork just the `markdowngen.py` file, which we will keep in the ccdhmodel repo. Ideally,

[2021-11-17 19:28] gaurav opened #157 "Look mapping information in CRDCH model"
Current work on the GDC- and PDC-to-CRDCH transformation code in the Example Data repo suggests that many transformations are relatively straightforward, such as one field renamed as another field. Some of this information could potentially be stored in the CRDCH Model itself, so that automated transformation could use the model information to transform a lot of data without any additional instruc

[2021-11-17 19:53] gaurav opened #158 "Add attributes to the CSV file generated as an artifact"
One of the artifacts we generate (by using the LinkML [csvgen](https://github.com/linkml/linkml/blob/main/linkml/generators/csvgen.py)) is [a CSV file listing the entities in the model](https://github.com/cancerDHC/ccdhmodel/blob/main/crdch_model/csv/crdch_model.csv). It would be helpful if we could improve this CSV file by:
- [ ] Adding attributes in addition to entities (see https://github.com/l

[2021-11-17 20:07] sujaypatil96 commented on #40
@gaurav: This issue can probably be closed, with the crdch model now accessible as a [Python package](https://pypi.org/project/crdch-model/) that can be imported into our applications.

[2021-11-18 06:31] gaurav opened #159 "Determine how enumerations and recommended codes should be handled in the CRDCH model"
Given the move to CodeableConcepts as the way in which the CRDCH model handles codes, we should put some thought into how enumerations and recommended codes are handled in the CRDCH model.

At the moment:
1. The Terminology Service picks up enumerations (i.e. lists of permissible values = PVs) from all the node dictionaries.
2. The CRDCH model contains information about which CRDCH fields are dire

[2021-11-18 17:53] turbomam opened #160 "Secure computing/Authority to Operate responsibilities for this repo?"
See the bottom of section C.3.a and E.2.a in the recent RFP

cloned from https://github.com/cancerDHC/example-data/issues/35

[2021-11-18 18:03] turbomam opened #161 "Reflect any mappings currently in Python code in terminology server or model"
For example, there are mapping statements using skos predicates for several terms, but not cancer stage observation types.

See also cancerDHC/example-data#31

[2021-11-18 19:07] gaurav commented on #161
Could you please start making a list of these terms in this issue? Even once we end up with exemplar CRDCH datasets in the Example Data repo, I suspect that it won't be easy to find them all when we need them. It would also be useful to see if they are grouped in any particular way.

[2021-11-18 21:04] gaurav commented on #159
Related to #161, since part of the benefit of solving this problem would be to ensure that all mapping values are documented.

[2021-11-18 21:19] joeflack4 commented on #159
Personally, I'm leaning towards option 2. It is less work for me, but it's in line with what I think the terminology service should be doing. I feel like it should be as dumb as possible, serving up things that have been pre-calculated. I feel like the better design is to reduce bidirectional dependencies, so to speak, which I think is the case right now.

[2021-11-19 21:39] gaurav opened #162 "Add schema file in YAML to PyPI package"
This would allow us to generate JSON-LD contexts from the Python Data Classes, which would be nice.

This might eventually be fixed in LinkML: https://github.com/linkml/linkml/issues/475

[2021-11-20 00:53] joeflack4 commented on #162
@gaurav Thanks for opening this up! Yes, this would be nice to have.

[2021-11-29 18:06] #136 closed

[2021-12-03 20:29] jooho-lee-kim opened #163 "Revise readme.md reflecting changes in sheet2linkml"
**Is your feature request related to a problem? Please describe.**

The [README.md](https://github.com/cancerDHC/ccdhmodel#readme) is not up to date. We are no longer using `./vendor/sheet2linkml` directory, which is also removed from the repo. We should revise the document reflecting the changes we made on ccdhmodel and sheet2linkml repos. The content on Automated generation of YAML can be moved

[2021-12-03 21:13] gaurav commented on #155
There's a new `docgen` in development that would allow us to use our own Jinja templates (https://github.com/linkml/linkml/pull/498) -- that might make it pretty straightforward to do this!

[2021-12-06 17:08] jooho-lee-kim commented on #163
Currently, only the Google Drive API is listed on README.md, but, Google Sheets API also should be enabled to run `make generate-model`.

[2021-12-07 23:01] gaurav commented on #163
I took a stab at fixing this in PR #164; I'll submit it for review once we've merged PR #127. I've also copied these instructions over to sheet2linkml in PR https://github.com/cancerDHC/sheet2linkml/pull/27.

Good catch! I notice that one set of the instructions (https://www.iperiusbackup.net/en/how-to-enable-google-drive-api-and-get-client-credentials/) refers only to the Google Drive API, while

[2021-12-08 15:44] jooho-lee-kim commented on #163
I think we need both documents.

The first document [https://www.iperiusbackup.net/en/how-to-enable-google-drive-api-and-get-client-credentials/](https://www.iperiusbackup.net/en/how-to-enable-google-drive-api-and-get-client-credentials/) refers to how to create and download the client credentials, which is not covered in the other document.

The second document ([https://pygsheets.readthedocs.io/

[2021-12-18 05:32] gaurav opened #166 "Add support for code coverage testing"
It might be quite interesting to see if we can generate code coverage stats for the generated Python Data Classes.

[2022-01-07 19:42] gaurav opened #169 "Set v1.2 as the "latest" release on the documentation website"
We released v1.2 of the Python data classes just before the Christmas break (see https://pypi.org/project/crdch-model/1.2/). We've published this to the documentation site (https://cancerdhc.github.io/ccdhmodel/v1.2/). However, we wanted to check with the DMH team before assigning this to be the latest version of the site (i.e. https://cancerdhc.github.io/ccdhmodel/); since the project was termina

[2022-01-07 19:49] #163 closed

[2022-01-07 20:06] #155 closed